.breadcrumbs {
  display: inline-block;
  transition: margin-left .5s ease-out 0s;
  vertical-align: middle;
  height: 60px;
  padding: 22px 0;
}
.breadcrumbs-item {
  vertical-align: top;
  display: inline-block;
  a {
    font: #{$font-size-small}/18px $font-light;
    color: $secondary-text-color-light-back;
    text-decoration: none;
  }
  &:before {
    content: '';
    display: inline-block;
    margin: 0 5px;
    background: url("#{$url-img}/sprite.png") 0 -36px;
    width: 10px;
    height: 7px;
  }
}
