.tabs {
  min-height: 1px;
}
.tabs.is-fixed {
  .tabs-header {
    position: fixed;
    top: 0;
    transition: top .3s linear;
    z-index: 10;
  }
  .tabs-content {
    margin-top: 61px;
  }
}
.tabs-header {
  border-bottom: 1px solid rgba($black-color, 0.1);
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  background: #fff;
}
.tabs-header.is-moved {
  top: 60px !important;
}
.tabs-btn {
  display: inline-block;
  padding: 15px 0;
  font: 11px/15px Neris-Light, sans-serif;
  margin: 0 15px -1px;
  a {
    color: $base-color;
    font: 11px/16px 'Neris-Light', sans-serif;
    cursor: pointer;
  }
  span {
    padding-left: 3px;
    color: rgba(0, 0, 0, 0.45);
  }
}
.tabs-btn-count {
  color: #626262;
  margin-left: 5px;
}
.tabs-btn.is-active {
  border-bottom: 1px solid #7e7e7e;
  a {
    color: rgba(0, 0, 0, 0.8);
  }
}
.tabs-content {
  font: 14px/21px Neris-Light, sans-serif;
  //padding: 10px 0;
  //margin-top: 15px;
}
.tabs-content-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}
.tabs-content-item {
  display: none;
}
