// Виджет списка элементов форм
.multiply {
  padding: 0;
  
  li {
    position: relative;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: $basic-value * 10;
    
    &:before {
      display: none;
    }

    & + li {
      margin-top: $basic-value * 3;
    }

    a[data-action="add"] {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      @include icons-sprite(sm-add);
      opacity: $q-middle;
      transition: all .2s;

      &:hover {
        opacity: $q-dark;
      }
    }
  }
}