.placeholder-md {
  width: 100%;
  height: 120px;
  background-color: $background-color-placeholder;
}

.placeholder-lg {
  width: 100%;
  height: 226px;
  background-color: $background-color-placeholder;
}