// Старые названия классов - наследство от предыдущей вёрстки.
// Передывалеть всё под БЭМ слишком накладно, т.к. все скрипты завязаны на них.
.ui-tags {}

.tags-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

// Тег (сфера деятельности)
.ui-tags-item {
  display: flex;
  align-items: center;
  margin-right: $basic-value * 6;

  // Иконка тега (сферы деятельности)
  .icon {
    opacity: $q-middle;

    &:after {
      content: "";
      display: block;
    }

    &.agriculture { &:after { @include category-sprite(icon-category-s-01);}}
    &.forest { &:after { @include category-sprite(icon-category-s-02);}}
    &.textile_and_clothing { &:after { @include category-sprite(icon-category-s-03);}}
    &.minerals_and_chemicals_metallurgy { &:after { @include category-sprite(icon-category-s-04);}}
    &.engineering { &:after { @include category-sprite(icon-category-s-05);}}
    &.instrumentation { &:after { @include category-sprite(icon-category-s-06);}}
    &.construction { &:after { @include category-sprite(icon-category-s-07);}}
    &.containers_and_packaging { &:after { @include category-sprite(icon-category-s-08);}}
    &.medicine { &:after { @include category-sprite(icon-category-s-09);}}
    &.energetics { &:after { @include category-sprite(icon-category-s-10);}}
    &.food { &:after { @include category-sprite(icon-category-s-11);}}
  }

  /*
  .ui-tags-input {
    white-space: nowrap;
    display: inline-block;
    padding-left: 15px;

    .ui-tags-input-field {
      margin: 0;
      outline: 0;
      border: 0;
      border-radius: 0;
      padding: 0;
      box-shadow: none !important;
      width: auto;
      transition: none;
    }
  }
  */
}

// Название тега (сферы деятельности)
.ui-tags-item-label {
  font: #{$font-size-p}/#{$line-height-p} $font-light;

  .icon + & {
    margin-left: $basic-value * 3;
  }
}

.ui-tags-item-value {
  display: none;
}

// Иконка удаления тега (сферы деятельности)
.ui-tags-item-close {
  align-self: flex-end;
  margin-left: $basic-value * 3;
  margin-bottom: floor(rem-to-px($indent-difference-p));

  &:after {
    content: "";
    display: block;
    @include icons-sprite(xxsm-delete);
    opacity: $q-middle;
  }
}

// Виджет категории (сферы деятельности)
.ui-category {
  @extend %basic-entity;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: $basic-value * 4 - rem-to-px($indent-difference-p);
  padding-bottom: $basic-value * 4 - rem-to-px($indent-difference-p);
  transition: all .2s;
}

.ui-category-overflow {
  overflow: hidden;
  height: 38px;
  white-space: nowrap;
}

// Кнопка/ссылка открытия выпадающего блока сфер деятельностей
.ui-category-button {
  display: flex;
  align-items: flex-end;
  height: $line-height-p;
  padding-bottom: $indent-difference-small + ($line-height-p-nowrap - $line-height-small-nowrap) / 2;
  font: #{$font-size-small}/#{$line-height-small-nowrap} $font-light;
  color: $secondary-text-color-light-back;

  &:hover {
    color: $primary-text-color-light-back;
  }
}

.ui-category-button-hidden {
  display: none;
}

.ui-category-button-changed {
  .ui-category-button-text {
    display: none;
  }
  .ui-category-button-hidden {
    display: inline;
  }
}

/* Блок со списком сфер деятельности */
.ui-category-menu {
  @extend .modal;

  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: $basic-value * 2;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: (-$basic-value * 2) / 2;
    left: $basic-value * 5;
    width: $basic-value * 2;
    height: $basic-value * 2;
    border-left: 1px solid $border-color-black-light;
    border-top: 1px solid $border-color-black-light;
    background-color: $white-color;
    transform: rotate(45deg);
  }
}

/* Кнопка скрытия и показа полного списка категорий */
.ui-category-menu-button {
  display: none;
/*  float: right;
  height: 95px;
  width: 95px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  cursor: pointer;
  font: 11px/16px 'Neris-Light', sans-serif;
  color: $secondary-text-color-light-back;

  &:before {
    background: url("#{$url-img}/sprite.png") 0 -18px;
    width: 26px;
    height: 6px;
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 40px;
  }*/
}

/* Текст у кнопки скрытия */
.ui-category-menu-button-hidden {
  display: none;
}

/* Текст у кнопки показа */
.ui-category-menu-button-active {
  &:before {
    background: url("#{$url-img}/sprite.png") 0 -1329px;
    width: 28px;
    height: 28px;
  }
  .ui-category-menu-button-text {
    display: none;
  }
  .ui-category-menu-button-hidden {
    display: inline;
  }
}

/* Список сфер деятельности */
.ui-category-menu-list {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: -$basic-value * 8;
}

/* Элемент списка сфер деятельности */
.ui-category-menu-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: $basic-value * 30;
  padding: 0;
  margin-left: $basic-value * 3;
  margin-right: $basic-value * 3;
  margin-bottom: $basic-value * 8;
  font: #{$font-size-small}/#{$line-height-small} $font-light;
  color: $secondary-text-color-light-back;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
  @include user-select(none);

  &:hover {
    color: $primary-text-color-light-back;

    &:before {
      opacity: $q-dark;
    }
  }

  &:before {
    content: '';
    display: block;
    position: relative;
    margin-bottom: $basic-value * 3 - rem-to-px($indent-difference-small);
    opacity: $q-middle;
    transition: all .2s;
  }

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    display: block;
    margin: auto;
    top: 25px;
    right: 0;
    left: 25px;
    opacity: 0;
    @include icons-sprite(icon-success);
    transition: all .2s;
  }

  &.agriculture{ &:before { @include category-sprite(icon-category-lg-01); } }
  &.forest{ &:before { @include category-sprite(icon-category-lg-02); } }
  &.textile_and_clothing{ &:before { @include category-sprite(icon-category-lg-03); } }
  &.minerals_and_chemicals_metallurgy{ &:before { @include category-sprite(icon-category-lg-04); } }
  &.engineering{ &:before { @include category-sprite(icon-category-lg-05); } }
  &.instrumentation{ &:before { @include category-sprite(icon-category-lg-06); } }
  &.construction{ &:before { @include category-sprite(icon-category-lg-07); } }
  &.containers_and_packaging{ &:before { @include category-sprite(icon-category-lg-08); } }
  &.medicine{ &:before { @include category-sprite(icon-category-lg-09); } }
  &.energetics{ &:before { @include category-sprite(icon-category-lg-10); } }
  &.food{ &:before { @include category-sprite(icon-category-lg-11); } }
}

/*
.ui-tags-item {
  &.agriculture{ &:before { @include category-sprite(icon-category-s-01); } }
  &.forest{ &:before { @include category-sprite(icon-category-s-02); } }
  &.textile_and_clothing{ &:before { @include category-sprite(icon-category-s-03); } }
  &.minerals_and_chemicals_metallurgy{ &:before { @include category-sprite(icon-category-s-04); } }
  &.engineering{ &:before { @include category-sprite(icon-category-s-05); } }
  &.instrumentation{ &:before { @include category-sprite(icon-category-s-06); } }
  &.construction{ &:before { @include category-sprite(icon-category-s-07); } }
  &.containers_and_packaging{ &:before { @include category-sprite(icon-category-s-08); } }
  &.medicine{ &:before { @include category-sprite(icon-category-s-09); } }
  &.energetics{ &:before { @include category-sprite(icon-category-s-10); } }
  &.food{ &:before { @include category-sprite(icon-category-s-11); } }
}
*/

/* Активный элемент списка сфер деятельности */
.ui-category-menu-list-item-active {
  &:after {
    visibility: visible;
    opacity: 1;
    top: 20px;
  }
}

.ui-category-menu-list-item-loading {
  opacity: $q-middle;
}

.ui-helper-hidden-accessible {
  display: none;
}

/* контрол добавления категории товаров */
.ui-product {
  height: 40px;
  border: 1px solid $border-color-black-light;
  border-radius: 3px;
  position: relative;
}

/* кнопка добавления еще одной категории */
.ui-product-button {
  font: 11px/16px 'Neris-Light', sans-serif;
  color: $secondary-text-color-light-back;
}

/* Контейнер с категориями товаров */
.ui-product-menu-wrap {
  position: absolute;
  width: 610px;
  left: -1px;
  margin-top: 5px;
  margin-bottom: 70px; // Это на случай, если подкатегорий будет слишком много, то чтобы нижняя плашка сайта не залезала поверх
  padding: 7px 15px;
  border: 1px solid $border-color-black-light;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba($black-color, $q-light);
  z-index: 8;
  background-color: $white-color;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    left: 18px;
    width: 8px;
    height: 8px;
    border-left: 1px solid $border-color-black-light;
    border-top: 1px solid $border-color-black-light;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background-color: $white-color;
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

/* Список сфер деятельности компании */
.ui-product-menu {
  position: relative;
  width: 130px;
  text-align: center;
  padding: 8px 15px 38px 0;

  &:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba($black-color, $q-light);
  }
}

/* Элемент в списке сфер деятельности компании */
.ui-product-menu-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  /* Превращаем сферу деятельности в кнопку */
  .ui-product-menu-item-wrap{
    cursor: pointer;
    font-size: 0;
    line-height: 0;
  }

  /* Иконка сферы деятельности */
  .ui-product-menu-item-icon {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    height: 16px;
    margin-right: 5px;

    &:after {
      position: relative;
      content: '';
      display: inline-block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  /* Название сферы деятельности */
  .ui-product-menu-item-label{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    text-align: center;
    color: $secondary-text-color-light-back;
    font: 11px/16px 'Neris-Light', sans-serif;
  }
}

/* Стандартные иконки для сфер деятельности 16*16 */
.ui-product-menu-item {
  &.agriculture {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-01);
    }
  }
  &.forest {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-02);
    }
  }
  &.textile_and_clothing {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-03);
    }
  }
  &.minerals_and_chemicals_metallurgy {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-04);
    }
  }
  &.engineering {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-05);
    }
  }
  &.instrumentation {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-06);
    }
  }
  &.construction {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-07);
    }
  }
  &.containers_and_packaging {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-08);
    }
  }
  &.medicine {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-09);
    }
  }
  &.energetics {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-10);
    }
  }
  &.food {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-s-11);
    }
  }
}

/* Большие иконки для выбранных сфер деятельности */
.ui-product-menu-item-active {
  /* стили которые перезадают размеры иконки */
  .ui-product-menu-item-icon{
    height: 35px;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  &.agriculture {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-01);
    }
  }
  &.forest {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-02);
    }
  }
  &.textile_and_clothing {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-03);
    }
  }
  &.minerals_and_chemicals_metallurgy {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-04);
    }
  }
  &.engineering {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-05);
    }
  }
  &.instrumentation {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-06);
    }
  }
  &.construction {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-07);
    }
  }
  &.containers_and_packaging {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-08);
    }
  }
  &.medicine {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-09);
    }
  }
  &.energetics {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-10);
    }
  }
  &.food {
    .ui-product-menu-item-icon:after {
      @include category-sprite(icon-category-lg-11);
    }
  }
}

/* Действие назад */
.ui-product-menu-back {
  position: absolute;
  width: 115px;
  left: 0;
  bottom: 8px;
  font: #{$font-size-small}/#{$line-height-small} $font-light;
  color: $secondary-text-color-light-back;
  z-index: 2;
}

/* Активный пункт меню */
.ui-product-menu-item-active {
  .ui-product-menu-item-wrap {
    position: relative;

    /* Треугольная стрелка вправо на разделителе */
    &:after {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      position: absolute;
      top: 35%;
      right: -28px;
      border-top: 1px solid $border-color-black-light;
      border-right: 1px solid $border-color-black-light;
      transform: rotate(45deg);
      transform-origin: 0 0;
      background: $white-color;
      z-index: 1;
    }
  }

  /* Отображать подкатегории у активной сферы деятельности */
  .ui-product-submenu{
    display: block;
  }
}

/* Стили для подкатегорий товаров */
.ui-product-submenu{
  display: none;
  position: absolute;
  width: 465px;
  top: 0;
  left: 130px;
  margin: 0 -1px;
  padding: 8px 15px;
  text-align: left;

  &:after{
    content: '';
    clear: both;
    height: 0;
    display: block;
  }

  /* кнопка назад и скрыть ее по умолчанию */
  .ui-product-menu-back{
    display: none;
    padding-left: 20px;
  }

  &.second-level-submenu-is-open{
    /* изменяем ширину подкатегорий */
    width: 217px;
    height: 100%;

    &:after{
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      right: 0;
      top: 0;
      background-color: rgba($black-color, $q-light);
    }

    /* Отображать кнопку назад */
    .ui-product-menu-back{
      display: block;
    }

    /* скрываем все подкатегории */
    .ui-product-submenu-item{
      display: none;
    }

    /* оставляем видимой только активную подкатегорию */
    .submenu-is-open{
      display: inline-block;
      position: relative;
      width: 100%;

      > span {
        position: relative;

        /* Треугольная стрелка вправо на разделителе */
        &:after {
          content: '';
          display: block;
          width: 13px;
          height: 13px;
          position: absolute;
          top: 35%;
          right: -48px;
          border-top: 1px solid $border-color-black-light;
          border-right: 1px solid $border-color-black-light;
          transform: rotate(45deg);
          transform-origin: 0 0;
          background: $white-color;
          z-index: 1;
        }
      }

      /* Стили для второго уровня подкатегорий */
      .ui-product-submenu-submenu{
        display: inline-block;
        vertical-align: top;
        width: 217px;

        position: absolute;
        left: 217px;

        /* Стили для элемента списка второго уровня подкатегорий */
        .ui-product-submenu-submenu-item{
          width: 100%;
          padding: 0 20px 20px 20px;
          display: inline-block;
          vertical-align: top;

          span{
            font-size: $font-size-p;
            color: $primary-color;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Элемент списка подкатегорий товара */
.ui-product-submenu-item {
  display: inline-block;
  vertical-align: top;
  width: 217px;
  padding: 0 20px 20px 20px;

  span {
    display: inline-block;
    font-size: $font-size-p;
    color: $primary-color;
    cursor: pointer;
  }

  /* Стили для стрелочки, которая указывает на наличие второго уровня */
  &.with-submenu {
    > span {
      &:after {
        content: '';
        display: inline-block;
        height: 5px;
        width: 5px;
        transform: rotate(45deg);
        border-top: 2px solid rgba(black,$q-middle);
        border-right: 2px solid rgba(black,$q-middle);
        margin-left: 5px;
        margin-bottom: 1px;
      }
    }
  }

  /* по умолчанию второй уровень подкатегорий скрыт */
  .ui-product-submenu-submenu {
    display: none;
  }
}

.product-category-item {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    @include icons-sprite(icon-success);
    transition: all .2s;
  }

  /* Активный элемент списка подкатегорий товара */
  &.ui-category-menu-list-item-active {
    &:after {
      opacity: 1;
      top: 4px;
      bottom: 0;
    }
  }
}