.matches {
  font-size: 0;
  padding: 15px 0;
  li {
    + {
      li {
        margin-left: 30px;
      }
    }
    display: inline-block;
    a {
      font: $smallFont;
    }
    span {
      margin-left: 3px;
      color: $secondary-text-color-light-back;
    }
    &.active{
      a{
        color: rgba(0,0,0,.8);
      }
    }
  }
}
