@font-face {
  font-family: 'Neris-Black';
  src: url("../fonts/Neris-Black.woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Neris-Light';
  src: url("../fonts/Neris-Light.woff");
  font-weight: 300;
  font-style: normal;
}